@font-face {
    font-family: 'stockmanagmentFont';
    src: url('/src/assets/font/Rusty\ typewriter.otf') format('opentype');
  }

@font-face {
  font-family: 'stockmanagmentFont1';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap') format('opentype');
}

  
  